PORT=8080

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

AUTH_SERVICE_URL=http://auth-service:3000
TASK_SERVICE_URL=http://task-service:3003
S3_SERVICE_URL=http://s3-service:3002

SESSION_TTL=1800
RATE_LIMIT_PER_MIN=100
