PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_USER=cloud_user
DB_PASSWORD=cloud_pass_2026
DB_NAME=cloud_db

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=your-super-secret-jwt-key-2026
SESSION_TTL=1800
